/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/********************/
/*  Utility classes */
/********************/

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.none {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    font-family: "Be Vietnam Pro", sans-serif;

    /* ## Colors */

    /* ### Primary */

    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    /* ### Neutral */

    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --vary-light-gray: hsl(0, 0%, 98%);
}

/**************/
/*  Header    */
/**************/

header {
    padding: 3rem 1.5rem 5rem;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -134px right -188px;
}

.logo-container img {
    width: 8rem;
}

header .header-illustration {
    margin-top: 4rem;
}

/* Mobile menu */

header dialog {
    border: none;
    width: 90%;
    padding: 1.5rem 0;
    inset-block-start: -9rem;
}

header dialog nav ul {
    gap: 1.8rem;
}

header dialog ul li a {
    color: var(--very-dark-blue);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

/**************/
/*  Main      */
/**************/

main {
    text-align: center;
    position: relative;
}

/* Main section background-shape */

.main-background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40rem;
    background-position: top 4.5rem right -16rem;
}

/* Intro section */

section.intro-text {
    padding: 0 1.5rem;
    margin-bottom: 6rem;
}

section.intro-text h1 {
    font-size: 2.2rem;
    color: var(--very-dark-blue);
    margin-bottom: 1.5rem;
}

section.intro-text p {
    color: var(--dark-grayish-blue);
    margin-bottom: 2.5rem;
}

.desktop-header-btn,
.get-started,
section.intro-text button {
    background-color: var(--bright-red);
    color: var(--very-pale-red);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
    box-shadow: 3px 3px 9px 0px var(--bright-red);
}

.desktop-header-btn:hover,
.get-started:hover,
section.intro-text button:hover {
    filter: brightness(1.4);
}

/* What's different about manage section */
section.manage {
    padding: 0 1rem;
    margin-bottom: 3rem;
}

section.manage h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--very-dark-blue);
}

section.manage p {
    color: var(--dark-grayish-blue);
    margin-bottom: 2.5rem;
}

/* Features section */

.features {
    padding: 0 0 0 1rem;
    margin-bottom: 3rem;
    gap: 3rem;
    text-align: left;
}

.features .feature .title {
    margin-bottom: 1.5rem;
    background-color: var(--very-pale-red);
    gap: 1rem;
}

.features .feature .title .number {
    font-size: 1.2rem;
    background-color: var(--bright-red);
    color: var(--very-pale-red);
    padding: 0.4rem 1.5rem;
    border-radius: 40px;
}

.features .feature .title h3 {
    font-size: 1rem;
}

.features .feature p.content {
    color: var(--dark-grayish-blue);
}

/* Testimonials section */

section.testimonials {
    padding-bottom: 5rem;
}

section.testimonials h3 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: var(--very-dark-blue);
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    will-change: transform;
}
.embla__slide {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}

.embla::before {
    display: none;
    content: '{"slidesToScroll": 1,"draggable": true}';
}

@media (min-width: 768px) {
    .embla::before {
        content: '{"slidesToScroll": 2,"draggable": false}';
    }
}

.testimonial-container {
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

.testimonial-image {
    width: 4rem;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}

.testimonial-name {
    font-size: 1rem;
    color: var(--very-dark-blue);
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.testimonial-content {
    color: var(--dark-grayish-blue);
    font-size: .9rem;
    line-height: 2;
    padding: 0 1rem;
}

.pagination-dots {
    margin-top: 2rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    border: 2px solid var(--bright-red);
    margin: 0 .5rem;
    cursor: pointer;
}

.dot-active {
    background-color: var(--bright-red);
}

section.testimonials button.get-started {
    margin-top: 3rem;
    box-shadow: 0px 4px 15px var(--bright-red);
}

/***********/
/* Footer */
/***********/

/* Simplify section */

footer .simplify {
    background-color: var(--bright-red);
    color: var(--very-pale-red);
    text-align: center;
    padding: 5rem  4rem;
    background-image: url(/images/bg-simplify-section-mobile.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

footer .simplify h3 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

footer .simplify button.get-started {
    color: var(--bright-red);
    background-color: white;
}

/* Bottom */
footer .bottom {
    background-color: var(--very-dark-blue);
    padding: 2rem 0;
}

.bottom form {
    margin-bottom: 3rem;
}

.bottom form .error {
    color: var(--bright-red);
    font-size: .65rem;
    margin-top: .3rem;
    text-align: left;
    font-style: italic;
    display: none;
    width: 90%;
    margin-left: auto;
}

form .error.error-active {
    display: block;
}

.newsletter {
    display: flex;
    gap: .5rem;
    width: 90%;
    margin: 0 auto;
}

.newsletter input {
    padding: .5rem 0 .5rem 1rem;
    border-radius: 20px;
    border: none;
    width: 75%;
    font-size: .8rem;
}

.newsletter button {
    background-color: var(--bright-red);
    color: var(--very-pale-red);
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    width: 25%;
    transition: all .3s ease-in-out;
}

.newsletter button:hover {
    filter: brightness(1.4);
}

/* Footer links */

footer .links {
    width: 80%;
    margin: 0 auto 4rem;
}

.links ul {
    gap: .7rem;
}

.links ul li a {
    font-size: .8rem;
    color: var(--dark-grayish-blue);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.links ul li a:hover {
    color: var(--bright-red);
}

/* Social media */

.social-media {
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.social-media a {
    color: #fff;
    transition: color .3s ease-in-out;
}

.social-media a:hover {
    color: var(--bright-red);
}

p.copyright {
    color: var(--dark-grayish-blue);
    font-size: .8rem;
    text-align: center;
    background-color: var(--very-dark-blue);
}

/******************/
/*  Media queries */
/******************/

.header-links {
    display: none;
}

.desktop-header-btn {
    display: none;
}

.header-illustration .intro-text {
    display: none;
}

@media screen and (min-width: 768px){
    
    header {
        background-size: contain;
    }

    header .hamburger {
        display: none;
    }
    
    header .upper {
        max-width: 1200px;
        margin-inline: auto;
    }

    header .upper .logo-container img {
        width: 10rem;
    }

    header .upper .header-links {
        display: flex;
    }

    header .upper .header-links nav ul{
        gap: 2rem;

    }

    header .upper .header-links nav ul li a {
        font-size: .9rem;
        font-weight: 500;
        color: var(--very-dark-blue);
        transition: color .3s ease-in-out;
    }

    header .upper .header-links nav ul li a:hover {
        color: var(--dark-grayish-blue);
    }

    .desktop-header-btn {
        display: block;
    }

    .header-illustration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin-inline: auto;
    }

    .header-illustration .intro-text {
        display: block;
        margin-top: 3rem;
    }

    .header-illustration .intro-text h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        max-width: 70%  ;
    }

    .header-illustration .intro-text p {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        color: var(--dark-grayish-blue);
        max-width: 60%  ;
    }


    .main-background-shape {
        height: 60rem;
        background-position: bottom -7.5rem left -18rem;
        background-size: 40rem;
    }

    section.intro-text {
        display: none;
    }

    section.manage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin-inline: auto;
        text-align: left;
        padding: 0 1.5rem;
    }

    section.manage .texts h2 {
        max-width: 24rem;
    }

    section.manage .texts p {
        max-width: 22rem;
    }

    section.manage .features {
        padding: 0;
    }

    section.manage .features .feature {
        max-width: 28rem;
    }

    /* Testimonials section */

    .testimonials h3 {
        font-size: 2.2rem !important;
        margin-bottom: 3.5rem !important;
    }

    .embla__slide {
        flex: 0 0 33%; /* Will show 3 slides */
        padding: 2rem 0;
    }

    .embla__slide .testimonial-container {
        background-color: var(--vary-light-gray);
        border-radius: 10px;
        padding: 3rem 0;
    }

    .embla__slide .testimonial-container img {
        position: absolute;
        top: 0rem;
        left: 44%;
    }

    /* Footer */

    footer .simplify {
        background-image: url(/images/bg-simplify-section-desktop.svg);
        padding: 2rem 1.5rem;
        text-align: left;
    }

    footer .simplify .inner {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin-inline: auto;
        align-items: center;
    }

    footer .simplify .inner h3 {
        max-width: 30rem;
        font-size: 2.2rem;
        margin-bottom: 0;
    }
    

    /* Bottom */

    footer .bottom .inner-bottom {
        display: flex;
        max-width: 1200px;
        margin-inline: auto;
        justify-content: space-between;
    }

    .bottom .inner-bottom .logo-socials {
        order: 1;
    }

    .bottom .inner-bottom form {
        order: 3;
        align-self: flex-start;
        width: 22%;
    }

    .bottom .inner-bottom .newsletter {
        margin: 0 0 0 auto;
    }

    .bottom form .error {
        width: 100%;
        margin-left: 0;
    }

    .bottom .inner-bottom .links {
        order: 2;
        width: 32%;
    }

    .bottom .inner-bottom .links,
    .bottom .inner-bottom .logo-socials .social-media {
        margin-bottom: 0;
    }

    .bottom .inner-bottom .logo-socials {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    .bottom .inner-bottom .logo-socials .social-media {
        order: 2;
    }


    .bottom .inner-bottom .logo-socials .logo {
        justify-content: start;
    }

    p.copyright {
        text-align: right;
        max-width: 1200px;
        margin-inline: auto;
    }
}
